/* 就近原则：按书写顺序，越后面书写的权限越高，与类名在class属性中出现的顺序无关 */
/* 就近原则：与内联style相比，书写顺序即是引入的顺序 */
.bd-1-red {
    border: 1px dotted rgb(242, 10, 10);
}

.bd-1-green {
    border: 1px dotted rgb(149, 242, 10);
}

.bd-1-blue {
    border: 1px dotted rgb(32, 54, 154)
}

.bd-1-yellow {
    border: 1px dotted rgb(249, 249, 10)
}
