/* 就近原则：按书写顺序，越后面书写的权限越高，与类名在class属性中出现的顺序无关 */
/* 就近原则：与内联style相比，书写顺序即是引入的顺序 */
/* 数值由高到低 */
.h500 {
    height: 500px;
    --h500: 500px;
}

.h300 {
    height: 300px;
    --h300: 300px;
}

.h50 {
    height: 50px;
    --h50: 50px;
}

.h0 {
    height: 0;
    --h0: 0;
}